h1 {
    background-color: rgb(4, 35, 62);
    padding: 20px;
    text-align: center;
    color: white;
}
.home {
    height: 100vh;
    width: 100%;
    background-color:#000000;
}
body {
    background-color: rgb(41, 89, 160);
    font-family: Arial, Helvetica, sans-serif;
}

.home-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* Warna latar belakang konten */
    box-shadow: 0 0 10px rgba(84, 77, 77, 0.1); /* Bayangan pada konten */
}

h1 {
    color: #c0abab;
    font-size: 24px;
    text-align: center;
}

p1 p2 p3 p4 p5 p6 p7 p8 p9 {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}


nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
/* Gaya Tabel */
table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}

/* Gaya Sel Header */
th {
  background-color: rgb(4, 35, 62);
  color: #fff;
  padding: 10px;
}

/* Gaya Sel Data */
td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Gaya Baris Genap */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Gaya Padding dan Spacing */
table, th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Gaya Sel rowspan dan colspan */
td[rowspan], th[rowspan], td[colspan], th[colspan] {
  background-color: rgb(4, 35, 62);
  color: rgb(217, 217, 214) ;
}
.contact-text h2{
    color:#555;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.Contact h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

.Contact p {
    font-size: 16px;
    color: #555;
}
